# SPDX-License-Identifier: BSD-3-Clause

[Unit]
Description=Aurora Fitness: уведомления, синхронизация и управление музыкой
Conflicts=ru.nighteugene.aurorafitness-daemon.service
ConditionPathExists=/usr/bin/ru.nighteugene.aurorafitness

[Service]
ExecStart=/usr/bin/ru.nighteugene.aurorafitness --daemon
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
