[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.nighteugene.aurorafitness
Exec=/usr/bin/ru.nighteugene.aurorafitness
Name=Fitness
Name[ru]=Фитнес

[X-Application]
Permissions=Bluetooth;
OrganizationName=ru.nighteugene
ApplicationName=aurorafitness
ExecDBus=/usr/bin/ru.nighteugene.aurorafitness
