# SPDX-License-Identifier: BSD-3-Clause

[Unit]
Description=Aurora Fitness: демон пересылки уведомлений и автосинка Mi Band

[Service]
ExecStart=/usr/bin/ru.nighteugene.aurorafitness --daemon
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
